.movie {
    padding: 8px;
    &__image {
        object-fit: cover;
        max-height: 400px;
        aspect-ratio: 12/9;
        object-position: center center;
        overflow: hidden;
    }
    &__section {
        font-size: 1.6rem;
    }
    &__desc {
        color: #bfbfb9;
    }
    &__actions {
        position: fixed;
        bottom: 8px;
        right: 8px;
    }
}
