<ng-container *ngIf="movie">
    <div class="movie" [@pageAnimation]="{ value: '*', params: { y: '30px', duration: '400ms' } }">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img class="movie__image" [src]="movie.poster" [alt]="movie.title" fxFlex="50" fxFlex.lt-sm="100">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
            <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="space-between center">
                <div>
                    <p class="movie__section">Puntuación</p>
                    <span class="movie__desc">{{movie.imdbRating}}</span>
                </div>
                <div>
                    <p class="movie__section">Duración</p>
                    <span class="movie__desc">{{movie.duration}}</span>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
            <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                <div class="w-100">
                    <section class="movie__section mt-4">Actores</section>
                    <mat-divider></mat-divider>
                    <p *ngFor="let actor of movie.actors" class="movie__desc my-2">
                        {{actor.first_name}} {{actor.last_name}}
                    </p>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
            <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                <div class="w-100">
                    <section class="movie__section mt-4">Géneros</section>
                    <mat-divider></mat-divider>
                    <div class="my-2">
                        <span class="mr-2" *ngFor="let genre of movie.genre">
                            #{{genre}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="movie__actions">
        <button mat-fab color="primary" class="mr-2" (click)="editMovie()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="warn" (click)="deleteMovie()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</ng-container>