<div class="movie" [@pageAnimation]="{ value: '*', params: { y: '30px', duration: '400ms' } }">
    <form [formGroup]="movieForm" fxLayout="row wrap" (ngSubmit)="onSubmit()">
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
                <mat-label>{{'form.title' | translate}}</mat-label>
                <input matInput required [placeholder]="'form.title' | translate" autocomplete="off"
                    formControlName="title">
                <mat-error>El título es obligatorio</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
                <mat-label>{{'form.poster' | translate}}</mat-label>
                <input matInput [placeholder]="'form.poster' | translate" type="url" autocomplete="off"
                    formControlName="poster">
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
                <mat-label>{{'form.genre' | translate}}</mat-label>
                <input matInput [placeholder]="'form.genre' | translate" autocomplete="off" formControlName="genreInput"
                    (keydown.enter)="addChip($event.target.value, 'genre'); $event.target.blur();">
            </mat-form-field>
            <mat-chip-list>
                <mat-chip [@bounceInOut] *ngFor="let genre of movieForm['controls']?.genre?.value">
                    {{genre}}
                    <mat-icon color="warn" matChipRemove (click)="removeChip(genre, 'genre')">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
                <mat-label>{{'form.actors' | translate}}</mat-label>
                <mat-select [placeholder]="'form.actorsPlaceholder' | translate" formControlName="actorsInput"
                    (valueChange)="addChip($event, 'actors'); movieForm['controls'].actorsInput.reset()">
                    <mat-option *ngFor="let actor of appService.actors$ | async" [value]="actor">
                        {{actor.first_name}} {{actor.last_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-chip-list>
                <mat-chip [@bounceInOut] *ngFor="let actor of movieForm['controls']?.actors?.value">
                    {{actor.first_name}} {{actor.last_name}}
                    <mat-icon color="warn" matChipRemove (click)="removeChip(actor, 'actors')">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
                <mat-label>{{'form.studio' | translate}}</mat-label>
                <mat-select [placeholder]="'form.studio' | translate" formControlName="studio"
                    [compareWith]="compareFn">
                    <mat-option *ngFor="let company of appService.companies$ | async" [value]="company">
                        {{company.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
                <mat-label>{{'form.year' | translate}}</mat-label>
                <input matInput [placeholder]="'form.year' | translate" type="number" autocomplete="off"
                    formControlName="year">
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
                <mat-label>{{'form.duration' | translate}}</mat-label>
                <input matInput [placeholder]="'form.duration' | translate" type="number" autocomplete="off"
                    formControlName="duration">
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
                <mat-label>{{'form.imdbRating' | translate}}</mat-label>
                <input matInput [placeholder]="'form.imdbRating' | translate" type="number" autocomplete="off"
                    formControlName="imdbRating">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <button class="my-3" type="submit" fxFlex="100" fxFlex.gt-xs="50" fxAlignItems="center center"
                mat-raised-button color="primary">Confirmar</button>
        </div>
    </form>
</div>