<mat-sidenav-container>
    <mat-sidenav [opened]="false" mode="over" #sidenav class="sidenav mat-elevation-z6">
        <div class="sidenav__header" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>MENU</h3>
            <button mat-icon-button color="primary" class="close" (click)="sidenav.close()">
                <mat-icon color="primary">close</mat-icon>
            </button>
        </div>

        <mat-list role="list">
            <a [routerLink]="['/movies']" routerLinkActive="router-link-active">
                <mat-list-item role="listitem">
                    <mat-icon mat-list-icon>movie</mat-icon>{{'menu.movies' | translate}}
                </mat-list-item>
            </a>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <mat-icon mat-list-icon>assignment_ind</mat-icon>{{'menu.actors' | translate}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <mat-icon mat-list-icon>domain</mat-icon>{{'menu.studios' | translate}}
            </mat-list-item>
        </mat-list>


    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" fxLayoutAlign="start stretch">

        <header>
            <app-toolbar (onMenuIconClick)="sidenav.toggle()"></app-toolbar>

        </header>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>