<mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="(toolbarService.mode$ | async) === 'MAIN'">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-button (click)="sidenavToggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <h3>{{toolbarService.title$ | async}}</h3>
    </div>
    <div *ngIf="(toolbarService.mode$ | async) === 'SECONDARY'" fxLayout="row">
        <button mat-button (click)="back()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <h3>{{toolbarService.title$ | async}}</h3>
    </div>
</mat-toolbar>