/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.mat-drawer-content {
    min-height: 100vh;
}