<div fxLayout="row wrap" fxFlex="100" [@listAnimation]="(appService.movies$ | async)?.length">
    <a class="movie" [routerLink]="[movie.id]" fxFlex="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.gt-md="25"
        *ngFor="let movie of appService.movies$ | async">
        <mat-card>
            <mat-card-title>{{movie.title}}</mat-card-title>
            <img onerror="this.src='./assets/images/default.png'" mat-card-image [src]="movie.poster" [alt]="movie.title">
            <mat-card-content>
                <p fxLayout="row wrap" fxLayoutAlign="start center">
                    <span class="mr-3" *ngFor="let genre of movie.genre">#{{genre}}</span>
                </p>
            </mat-card-content>
        </mat-card>
    </a>
</div>
<div class="movie__actions">
    <button mat-fab color="primary" class="mr" (click)="addMovie()">
        <mat-icon>add</mat-icon>
    </button>
</div>