.movie {
    padding: 8px;
    width: 100%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
    &:hover {
        transform: translateY(-8px);
    }
    img {
        object-fit: cover;
        max-height: 400px;
        aspect-ratio: 12/9;
        object-position: center center;
    }
    &__actions {
        position: fixed;
        bottom: 8px;
        right: 8px;
    }
}
