/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "app/theme/styles/material.scss";
@import "app/theme/styles/spaces";
* {
    margin: 0;
    padding: 0;
}
.pointer {
    cursor: pointer;
}
.w-100 {
    width: 100%;
}